
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

header{
background-color: aquamarine;
text-align: center;
height: 100px;
padding-top: 20px;
}

a{
text-decoration: none;
color: rgb(69, 150, 150);
padding: 17px;
font-family: sans-serif;
}
nav{
margin-top: 10px;

}
div{

    border: solid black 2px;
width: 350px;
height: 380px;
display: inline-block;
margin: 20px;
}
img{

width: 270px;
height: 200px;
}
section{

text-align: center;

}
button{

background-color: bisque;
width: 100px;
height: 30px;
border-radius: 10px;
cursor: pointer;
}
button:hover{

background-color: rgb(248, 189, 117);

}
footer{

background-color: aquamarine;
height: 100px;
text-align: center;
}


